mkdocs/docs/samt/samt-bu/samt-bu-schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://data.norge.no/samt/samt-bu" targetNamespace="https://data.norge.no/samt/samt-bu">
  <xs:complexType name="Aktor">
    <xs:annotation>
      <xs:documentation>Ein aktør (person, organisasjon eller system) med ansvar for ein ressurs.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifikator_literal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg identifikator for ressursen (dct:identifier).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn_aktor">
        <xs:annotation>
          <xs:documentation>Namn på aktøren.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type_concept" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type ressurs frå eit kontrollert vokabular (dct:type).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Begrepssamling">
    <xs:annotation>
      <xs:documentation>Ei SKOS-omgrepssamling (temavokabular).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Datasett">
    <xs:annotation>
      <xs:documentation>Ei samling av data utgjeven eller kuratert av éin aktør.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="annen_ansvarlig_aktor">
        <xs:annotation>
          <xs:documentation>Kvalifisert attributering til ansvarleg aktør.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annen_identifikator">
        <xs:annotation>
          <xs:documentation>Alternativ identifikator frå eit anna system.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annen_spesifikk_relasjon">
        <xs:annotation>
          <xs:documentation>Kvalifisert relasjon til ein annan ressurs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="begrep">
        <xs:annotation>
          <xs:documentation>Fagomgrep som datasettet handlar om.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ble_generert_ved">
        <xs:annotation>
          <xs:documentation>Brukes til å referere til en aktivitet som genererte datasettet, eller som gir forretningskontekst for oppretting av det.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datasettdistribusjon">
        <xs:annotation>
          <xs:documentation>Tilgjengelege distribusjonar av datasettet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dekningsomraade">
        <xs:annotation>
          <xs:documentation>Geografisk dekningsområde (dct:spatial).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dokumentasjon">
        <xs:annotation>
          <xs:documentation>Lenke til dokumentasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="eierskapshistorikk">
        <xs:annotation>
          <xs:documentation>Opphav og eigarskapshistorikk for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="eksempeldata">
        <xs:annotation>
          <xs:documentation>Eksempeldata som distribusjon.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endringsdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato for siste endring av ressursen (dct:modified).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gjeldende_lovgivning">
        <xs:annotation>
          <xs:documentation>Lovgjeving som gjeld for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_kvalitetsmaaling">
        <xs:annotation>
          <xs:documentation>Kvalitetsmåling knytt til datasettet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_kvalitetsmerknad">
        <xs:annotation>
          <xs:documentation>Kvalitetsmerknad knytt til datasettet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="i_samsvar_med">
        <xs:annotation>
          <xs:documentation>Standard ressursen er i samsvar med.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="i_serie">
        <xs:annotation>
          <xs:documentation>Datasettserie dette datasettet er ein del av.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifikator_literal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg identifikator for ressursen (dct:identifier).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kilde_datasett">
        <xs:annotation>
          <xs:documentation>Datasett dette datasettet er avleidd frå.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktpunkt">
        <xs:annotation>
          <xs:documentation>Kontaktinformasjon for hendvendelsar om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="landingsside">
        <xs:annotation>
          <xs:documentation>Nettside med informasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nokkelord">
        <xs:annotation>
          <xs:documentation>Nøkkelord som beskriv ressursen (dcat:keyword).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="produsent" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som primært har skapt ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relatert_ressurs">
        <xs:annotation>
          <xs:documentation>Generisk relasjon til ein annan ressurs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tema">
        <xs:annotation>
          <xs:documentation>Tema frå eit kontrollert vokabular.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tidsrom">
        <xs:annotation>
          <xs:documentation>Tidsperiode ressursen dekkar.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgangsrettigheter">
        <xs:annotation>
          <xs:documentation>Egenskapen brukes til å angi om det er allmenn tilgang, betinget tilgang eller ikke-allmenn tilgang til datasettet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type_concept" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type ressurs frå eit kontrollert vokabular (dct:type).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="utgivelsesdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato ressursen vart første gong publisert (dct:issued).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="utgiver" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som er ansvarleg for å tilgjengeleggjere ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versjon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Versjonsnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versjonsmerknad">
        <xs:annotation>
          <xs:documentation>Merknad om endringar i denne versjonen (adms:versionNotes).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Datatjeneste">
    <xs:annotation>
      <xs:documentation>Ei samling operasjonar tilgjengeleg via eit API-grensesnitt.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dokumentasjon">
        <xs:annotation>
          <xs:documentation>Lenke til dokumentasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endepunkts_url">
        <xs:annotation>
          <xs:documentation>URL til datatjenestens endepunkt.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endepunktsbeskrivelse">
        <xs:annotation>
          <xs:documentation>URL til beskriving av endepunktet (t.d. OpenAPI-dokument).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="format" type="xs:string">
        <xs:annotation>
          <xs:documentation>Filformat eller medietype (dct:format).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gjeldende_lovgivning">
        <xs:annotation>
          <xs:documentation>Lovgjeving som gjeld for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_gebyr">
        <xs:annotation>
          <xs:documentation>Gebyr knytt til bruk av datatjenesten.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="i_samsvar_med">
        <xs:annotation>
          <xs:documentation>Standard ressursen er i samsvar med.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifikator_literal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg identifikator for ressursen (dct:identifier).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kontaktpunkt">
        <xs:annotation>
          <xs:documentation>Kontaktinformasjon for hendvendelsar om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="landingsside">
        <xs:annotation>
          <xs:documentation>Nettside med informasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lisens" type="xs:string">
        <xs:annotation>
          <xs:documentation>Lisens for bruk av ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nokkelord">
        <xs:annotation>
          <xs:documentation>Nøkkelord som beskriv ressursen (dcat:keyword).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rettigheter" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rettar knytte til ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="xs:string">
        <xs:annotation>
          <xs:documentation>Status for ressursen frå eit kontrollert vokabular (adms:status).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tema">
        <xs:annotation>
          <xs:documentation>Tema frå eit kontrollert vokabular.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgangsrettigheter">
        <xs:annotation>
          <xs:documentation>Egenskapen brukes til å angi om det er allmenn tilgang, betinget tilgang eller ikke-allmenn tilgang til datasettet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgjengeliggjor_datasett">
        <xs:annotation>
          <xs:documentation>Datasett som datatjenesten tilgjengeleggjer.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgjengelighet" type="xs:string">
        <xs:annotation>
          <xs:documentation>Planlagt tilgjengelegheit for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgiver" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som er ansvarleg for å tilgjengeleggjere ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versjon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Versjonsnummer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versjonsmerknad">
        <xs:annotation>
          <xs:documentation>Merknad om endringar i denne versjonen (adms:versionNotes).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Elev">
    <xs:annotation>
      <xs:documentation>En person som går på skole</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="horer_til_basisgruppe" type="xs:string">
        <xs:annotation>
          <xs:documentation>Basisgruppe elev tilhører</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Gebyr">
    <xs:annotation>
      <xs:documentation>Eit gebyr knytt til bruk av ein datatjeneste.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="belop" type="xs:string">
        <xs:annotation>
          <xs:documentation>Beløp for gebyret.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dokumentasjon">
        <xs:annotation>
          <xs:documentation>Lenke til dokumentasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valuta" type="xs:string">
        <xs:annotation>
          <xs:documentation>Valuta (cv:currency).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Katalog">
    <xs:annotation>
      <xs:documentation>Ei kuratert samling av metadata om datasett, datatenestar og/eller andre katalogar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datasett">
        <xs:annotation>
          <xs:documentation>Datasett som er del av katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datatjeneste">
        <xs:annotation>
          <xs:documentation>Datatjeneste som er del av katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dekningsomraade">
        <xs:annotation>
          <xs:documentation>Geografisk dekningsområde (dct:spatial).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endringsdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato for siste endring av ressursen (dct:modified).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gjeldende_lovgivning">
        <xs:annotation>
          <xs:documentation>Lovgjeving som gjeld for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_del">
        <xs:annotation>
          <xs:documentation>Delkatalog inkludert i denne katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="heimeside">
        <xs:annotation>
          <xs:documentation>Heimeside for ressursen eller organisasjonen (foaf:homepage).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifikator_literal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg identifikator for ressursen (dct:identifier).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="katalogpost">
        <xs:annotation>
          <xs:documentation>Katalogpostar i katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktpunkt">
        <xs:annotation>
          <xs:documentation>Kontaktinformasjon for hendvendelsar om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lisens" type="xs:string">
        <xs:annotation>
          <xs:documentation>Lisens for bruk av ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="produsent" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som primært har skapt ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rettigheter" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rettar knytte til ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="temaer">
        <xs:annotation>
          <xs:documentation>Temavokabular som vert brukt i katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tidsrom">
        <xs:annotation>
          <xs:documentation>Tidsperiode ressursen dekkar.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="underkatalog">
        <xs:annotation>
          <xs:documentation>Katalog som er ein del av denne katalogen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivelsesdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato ressursen vart første gong publisert (dct:issued).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="utgiver" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som er ansvarleg for å tilgjengeleggjere ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Katalogpost">
    <xs:annotation>
      <xs:documentation>Ein katalogpost som beskriv ein ressurs i katalogen.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endringsdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato for siste endring av ressursen (dct:modified).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="i_samsvar_med">
        <xs:annotation>
          <xs:documentation>Standard ressursen er i samsvar med.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kilde_post" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kjelde for katalogposten (ekstern oppføring).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="primaertema" type="xs:string">
        <xs:annotation>
          <xs:documentation>Ressursen katalogposten primært beskriv.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="status" type="xs:string">
        <xs:annotation>
          <xs:documentation>Status for ressursen frå eit kontrollert vokabular (adms:status).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivelsesdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato ressursen vart første gong publisert (dct:issued).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Konsept">
    <xs:annotation>
      <xs:documentation>Referanse til eit SKOS-omgrep frå eit kontrollert vokabular.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kontaktopplysning">
    <xs:annotation>
      <xs:documentation>Kontaktinformasjon for ein aktør.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="har_epost" type="xs:string">
        <xs:annotation>
          <xs:documentation>E-postadresse til kontaktpunktet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_kontaktside" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nettside for kontakt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn_vcard">
        <xs:annotation>
          <xs:documentation>Formatert namn (vCard).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetsdimensjon">
    <xs:annotation>
      <xs:documentation>Ein kvalitetsdimensjon som grupperer relaterte kvalitetsmål.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="har_anbefalt_term">
        <xs:annotation>
          <xs:documentation>Føretrekt term/namn for dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_definisjon">
        <xs:annotation>
          <xs:documentation>Definisjon av dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetsmaaling">
    <xs:annotation>
      <xs:documentation>Ei konkret måling av eit kvalitetsmål for eit datasett.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_kvalitetsmaaling_av" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kvalitetsmålet denne målinga er ei måling av.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_merknad">
        <xs:annotation>
          <xs:documentation>Fritekstmerknad (rdfs:comment).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_verdi" type="xs:string">
        <xs:annotation>
          <xs:documentation>Målt verdi (xsd:boolean, xsd:double, xsd:nonNegativeInteger eller rdfs:Literal avhengig av kvalitetsmålet).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetssertifikat">
    <xs:annotation>
      <xs:documentation>Eit sertifikat som stadfester kvaliteten til eit datasett.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_i_kvalitetsdimensjon">
        <xs:annotation>
          <xs:documentation>Refererer til kvalitetsdimensjon(ar) som kvalitetsmerknaden gjeld.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="er_motivert_av" type="xs:string">
        <xs:annotation>
          <xs:documentation>Motivasjonen bak kvalitetsmerknaden (t.d. oa:assessing).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_maal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Ressursen merknaden gjeld.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_merknad">
        <xs:annotation>
          <xs:documentation>Fritekstmerknad (rdfs:comment).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_tekstdel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg innhald i merknaden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:annotation>
      <xs:documentation>Eit menneske individ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulativRessurs">
    <xs:annotation>
      <xs:documentation>Ein regulativ ressurs (lov, forskrift o.l.) som gjeld for ein ressurs.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_referanse">
        <xs:annotation>
          <xs:documentation>Referanse til ekstern ressurs (rdfs:seeAlso).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifikator_literal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg identifikator for ressursen (dct:identifier).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relatert_regulativ_ressurs">
        <xs:annotation>
          <xs:documentation>Relatert regulativ ressurs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type_concept" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type ressurs frå eit kontrollert vokabular (dct:type).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Relasjon">
    <xs:annotation>
      <xs:documentation>Ein kvalifisert relasjon mellom to ressursar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="har_rolle" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rolle ein aktør eller ressurs har i ein relasjon.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relasjon_til" type="xs:string">
        <xs:annotation>
          <xs:documentation>Den relaterte ressursen i ein kvalifisert relasjon.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Skole">
    <xs:annotation>
      <xs:documentation>En skole er en privat eller offentlig institusjon eller et lærested hvor lærere underviser i ulike fag, oftest som grunnlag for videre utdannelse og yrkesliv.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="har_skoleeier" type="xs:string">
        <xs:annotation>
          <xs:documentation>Skoleeier for skolen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tekstdel">
    <xs:annotation>
      <xs:documentation>Ein tekstleg del av ein kvalitetsmerknad (Web Annotation).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="format" type="xs:string">
        <xs:annotation>
          <xs:documentation>Filformat eller medietype (dct:format).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_verdi_tekstdel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstinnhaldet i tekstdelen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sjekksum">
    <xs:annotation>
      <xs:documentation>Ein sjekksum for ein distribusjon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="algoritme" type="xs:string">
        <xs:annotation>
          <xs:documentation>Hash-algoritme brukt for sjekksummen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sjekksumverdi" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sjekksumverdi som heksadesimal streng.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Basisgruppe">
    <xs:annotation>
      <xs:documentation>Skoleklasse som hovedsaklig samler elever i ulike fag.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="del_av_skole" type="xs:string">
        <xs:annotation>
          <xs:documentation>Skolen basisgruppa tilhører</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trinniva" type="xs:string">
        <xs:annotation>
          <xs:documentation>Grunnskolen (6-15 år) er delt opp i 10 trinn, eit for kvart år.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Datasettserie">
    <xs:annotation>
      <xs:documentation>Ei serie av relaterte datasett publisert separat men med felles metadata.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dekningsomraade">
        <xs:annotation>
          <xs:documentation>Geografisk dekningsområde (dct:spatial).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endringsdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato for siste endring av ressursen (dct:modified).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="forste" type="xs:string">
        <xs:annotation>
          <xs:documentation>Første datasett i ei datasettserie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frekvens" type="xs:string">
        <xs:annotation>
          <xs:documentation>Oppdateringsfrekvens for datasettet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gjeldende_lovgivning">
        <xs:annotation>
          <xs:documentation>Lovgjeving som gjeld for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kontaktpunkt">
        <xs:annotation>
          <xs:documentation>Kontaktinformasjon for hendvendelsar om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="siste" type="xs:string">
        <xs:annotation>
          <xs:documentation>Siste datasett i ei datasettserie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tema">
        <xs:annotation>
          <xs:documentation>Tema frå eit kontrollert vokabular.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tidsrom">
        <xs:annotation>
          <xs:documentation>Tidsperiode ressursen dekkar.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivelsesdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato ressursen vart første gong publisert (dct:issued).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="utgiver" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aktøren som er ansvarleg for å tilgjengeleggjere ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fylke">
    <xs:annotation>
      <xs:documentation>Fylke (etter norrønt fylki) er en betegnelse på et undernasjonalt, regionalt geografisk område, tilsvarende amt og len.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fylkesnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Fylkesnummer er definerte identifikasjonskoder for Norges fylker og to territorier (Svalbard og Jan Mayen).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KatalogisertRessurs">
    <xs:annotation>
      <xs:documentation>Basisklasse for ressursar som kan katalogiserast.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kontaktlaerer">
    <xs:annotation>
      <xs:documentation>En lærer med ansvar for ei basisgruppe og er skolens kontaktpunkt for elevane i basisgruppa</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="har_saerlig_ansvar_for" type="xs:string">
        <xs:annotation>
          <xs:documentation>Elev kontaktlæreren har særlig ansvar for</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jobber_paa_skole" type="xs:string">
        <xs:annotation>
          <xs:documentation>Skolen kontaktlæreren jobber på</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tilknyttet_basisgruppe" type="xs:string">
        <xs:annotation>
          <xs:documentation>Basisgruppe kontaktlærer er tilknyttet</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetsmaal">
    <xs:annotation>
      <xs:documentation>Eit kvalitetsmål som operasjonaliserer ein kvalitetsdeldimensjon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_i_kvalitetsdeldimensjon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kvalitetsdeldimensjonen dette målet operasjonaliserer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_anbefalt_term">
        <xs:annotation>
          <xs:documentation>Føretrekt term/namn for dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_definisjon">
        <xs:annotation>
          <xs:documentation>Definisjon av dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_forventet_datatype" type="xs:string">
        <xs:annotation>
          <xs:documentation>Forventa XSD-datatype for verdien av ei kvalitetsmåling.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mediatype">
    <xs:annotation>
      <xs:documentation>Ein medietype eller filformat (dct:MediaTypeOrExtent).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rektor">
    <xs:annotation>
      <xs:documentation>Høgaste akademiske leder av en skole</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="enhetsleder_for" type="xs:string">
        <xs:annotation>
          <xs:documentation>Enhet rektor er enhetsleder for</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Standard">
    <xs:annotation>
      <xs:documentation>Ein standard eller spesifikasjon som eit datasett er i samsvar med.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_i_kvalitetsdimensjon">
        <xs:annotation>
          <xs:documentation>Refererer til kvalitetsdimensjon(ar) som kvalitetsmerknaden gjeld.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_merknad">
        <xs:annotation>
          <xs:documentation>Fritekstmerknad (rdfs:comment).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_referanse">
        <xs:annotation>
          <xs:documentation>Referanse til ekstern ressurs (rdfs:seeAlso).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_versjonsnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Versjonsnummer for ressursen (owl:versionInfo).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Skoleeier">
    <xs:annotation>
      <xs:documentation>Superklasse for alle typer skoleeiere.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Brukartilbakemelding">
    <xs:annotation>
      <xs:documentation>Tilbakemelding frå ein brukar om kvaliteten til eit datasett.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_i_kvalitetsdimensjon">
        <xs:annotation>
          <xs:documentation>Refererer til kvalitetsdimensjon(ar) som kvalitetsmerknaden gjeld.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="er_motivert_av" type="xs:string">
        <xs:annotation>
          <xs:documentation>Motivasjonen bak kvalitetsmerknaden (t.d. oa:assessing).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_maal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Ressursen merknaden gjeld.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_merknad">
        <xs:annotation>
          <xs:documentation>Fritekstmerknad (rdfs:comment).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_tekstdel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg innhald i merknaden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identifikator">
    <xs:annotation>
      <xs:documentation>Ein alternativ identifikator for ein ressurs.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notasjon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Notasjon/kode for identifikatoren.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetsdeldimensjon">
    <xs:annotation>
      <xs:documentation>Ein deldimensjon av ein kvalitetsdimensjon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_deldimensjon_av" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overordna kvalitetsdimensjon denne deldimensjonen høyrer til.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_anbefalt_term">
        <xs:annotation>
          <xs:documentation>Føretrekt term/namn for dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_definisjon">
        <xs:annotation>
          <xs:documentation>Definisjon av dimensjonen eller målet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrivatVirksomhet">
    <xs:annotation>
      <xs:documentation>Virksomhet, eller foretak, er betegnelser for en juridisk person eller en organisasjon som produserer varer eller tjenester.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="organisasjonsnummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Organisasjonsnummer er i Norge et ni-sifret registreringsnummer som tildeles av Enhetsregisteret ved Brønnøysundregistrene for en organisasjon (foretak, idrettslag og lignende).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tidsrom">
    <xs:annotation>
      <xs:documentation>Eit tidsintervall med start- og sluttdato.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="begynnelse" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Starttidspunkt for eit tidsrom.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="slutt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Sluttidspunkt for eit tidsrom.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sluttdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Sluttdato for tidsrommet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Startdato for tidsrommet.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Distribusjon">
    <xs:annotation>
      <xs:documentation>Ein spesifikk representasjon/nedlastbar form av eit datasett.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beskrivelse">
        <xs:annotation>
          <xs:documentation>Fritekstbeskrivelse av ressursen (dct:description).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dokumentasjon">
        <xs:annotation>
          <xs:documentation>Lenke til dokumentasjon om ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endringsdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato for siste endring av ressursen (dct:modified).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="filstorrelse" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Filstørrelse i bytes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" type="xs:string">
        <xs:annotation>
          <xs:documentation>Filformat eller medietype (dct:format).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gjeldende_lovgivning">
        <xs:annotation>
          <xs:documentation>Lovgjeving som gjeld for ressursen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="i_samsvar_med">
        <xs:annotation>
          <xs:documentation>Standard ressursen er i samsvar med.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="komprimeringsformat" type="xs:string">
        <xs:annotation>
          <xs:documentation>Komprimeringsformat brukt i distribusjonen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lisens" type="xs:string">
        <xs:annotation>
          <xs:documentation>Lisens for bruk av ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="medietype" type="xs:string">
        <xs:annotation>
          <xs:documentation>Medietype i samsvar med IANA-registeret.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nedlastningslenke">
        <xs:annotation>
          <xs:documentation>Direkte nedlastingslenke for distribusjonsfila.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pakkeformat" type="xs:string">
        <xs:annotation>
          <xs:documentation>Pakkeformat brukt i distribusjonen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="policy" type="xs:string">
        <xs:annotation>
          <xs:documentation>ODRL-policy som regulerer bruk av ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rettigheter" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rettar knytte til ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sjekksum" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sjekksum for distribusjonsfila.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spraak">
        <xs:annotation>
          <xs:documentation>Språk brukt i ressursen (dct:language).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="status" type="xs:string">
        <xs:annotation>
          <xs:documentation>Status for ressursen frå eit kontrollert vokabular (adms:status).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tidsopplosning" type="xs:string">
        <xs:annotation>
          <xs:documentation>Minste tidsoppløysing i datasettet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tilgangs_url">
        <xs:annotation>
          <xs:documentation>URL for tilgang til distribusjonen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgangstjeneste">
        <xs:annotation>
          <xs:documentation>Datatjeneste som gjev tilgang til distribusjonen.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tilgjengelighet" type="xs:string">
        <xs:annotation>
          <xs:documentation>Planlagt tilgjengelegheit for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tittel">
        <xs:annotation>
          <xs:documentation>Namn/tittel på ressursen (dct:title).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivelsesdato" type="xs:date">
        <xs:annotation>
          <xs:documentation>Dato ressursen vart første gong publisert (dct:issued).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kvalitetsmerknad">
    <xs:annotation>
      <xs:documentation>Ein merknad om kvaliteten til eit datasett.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="er_i_kvalitetsdimensjon">
        <xs:annotation>
          <xs:documentation>Refererer til kvalitetsdimensjon(ar) som kvalitetsmerknaden gjeld.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="er_motivert_av" type="xs:string">
        <xs:annotation>
          <xs:documentation>Motivasjonen bak kvalitetsmerknaden (t.d. oa:assessing).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_maal" type="xs:string">
        <xs:annotation>
          <xs:documentation>Ressursen merknaden gjeld.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="har_merknad">
        <xs:annotation>
          <xs:documentation>Fritekstmerknad (rdfs:comment).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="har_tekstdel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekstleg innhald i merknaden.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kommune">
    <xs:annotation>
      <xs:documentation>En kommune er et geografisk avgrenset område som utgjør en egen politisk og administrativ enhet innen en statsdannelse.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kommunenummer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Kommunenummer er en nummerrekke som identifiserer kommuner eller kommunefrie områder.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="navn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SamtBuContainer">
    <xs:annotation>
      <xs:documentation>Containerklasse for alle klasser som kan inngå i datasettet.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="basisgrupper">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Basisgruppe"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="brukertilbakemeldinger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Brukartilbakemelding"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataset_metadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Datasett"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datasettdistribusjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Distribusjon"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="elever">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Elev"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fylker">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Fylke"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gjeldende_lovgivninger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="RegulativRessurs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="grupper">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="kommuner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kommune"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktlaerere">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kontaktlaerer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktpunkter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kontaktopplysning"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsdimensjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsdimensjon"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsmaalinger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsmaaling"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsmerknader">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsmerknad"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organisasjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="private_virksomheter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="PrivatVirksomhet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rektorer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Rektor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="skoler">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Skole"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="standarder">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Standard"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tekstdeler">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Tekstdel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tidsromer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Tidsrom"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivere">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rettighetserklaring">
    <xs:annotation>
      <xs:documentation>Ei erklæring om rettar til ein ressurs (ODRS).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="anvendelsesretningslinjer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Retningslinjer for gjenbruk av data.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>URI-identifikator for ressursen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jurisdiksjon" type="xs:string">
        <xs:annotation>
          <xs:documentation>Jurisdiksjon for rettigheitserklæringa.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="krediteringstekst" type="xs:string">
        <xs:annotation>
          <xs:documentation>Tekst som skal brukast ved kreditering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="krediteringsurl" type="xs:string">
        <xs:annotation>
          <xs:documentation>URL for kreditering av rettshavar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opphavsrettsaar" type="xs:string">
        <xs:annotation>
          <xs:documentation>Årstal for opphavsrett.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opphavsrettserklaring" type="xs:string">
        <xs:annotation>
          <xs:documentation>Opphavsrettserklæring.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opphavsrettsinnehaver" type="xs:string">
        <xs:annotation>
          <xs:documentation>Namn på opphavsrettsinnehavar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opphavsrettsnotis" type="xs:string">
        <xs:annotation>
          <xs:documentation>Opphavsrettsnotis.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document_wrapper">
    <xs:sequence>
      <xs:element name="root" type="document_wrapperRoot"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document_wrapperRoot" abstract="true"/>
  <xs:complexType name="document_wrapperRoot2">
    <xs:complexContent>
      <xs:extension base="document_wrapperRoot">
        <xs:sequence>
          <xs:element name="root" type="document"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:annotation>
      <xs:documentation>Containerklasse for alle klasser som kan inngå i datasettet., Alternate map: 'basisgrupper': [null, array], 'brukertilbakemeldinger': [null, array], 'dataset_metadata': [null, array], 'datasettdistribusjoner': [null, array], 'elever': [null, array], 'fylker': [null, array], 'gjeldende_lovgivninger': [null, array], 'grupper': [null, array], 'id': [null, string], 'kommuner': [null, array], 'kontaktlaerere': [null, array], 'kontaktpunkter': [null, array], 'kvalitetsdimensjoner': [null, array], 'kvalitetsmaalinger': [null, array], 'kvalitetsmerknader': [null, array], 'organisasjoner': [null, array], 'private_virksomheter': [null, array], 'rektorer': [null, array], 'skoler': [null, array], 'standarder': [null, array], 'tekstdeler': [null, array], 'tidsromer': [null, array], 'utgivere': [null, array]. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="basisgrupper">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Basisgruppe"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="brukertilbakemeldinger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Brukartilbakemelding"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataset_metadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Datasett"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="datasettdistribusjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Distribusjon"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="elever">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Elev"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="fylker">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Fylke"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gjeldende_lovgivninger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="RegulativRessurs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="grupper">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="kommuner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kommune"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktlaerere">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kontaktlaerer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kontaktpunkter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kontaktopplysning"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsdimensjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsdimensjon"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsmaalinger">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsmaaling"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kvalitetsmerknader">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Kvalitetsmerknad"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organisasjoner">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="private_virksomheter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="PrivatVirksomhet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rektorer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Rektor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="skoler">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Skole"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="standarder">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Standard"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tekstdeler">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Tekstdel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tidsromer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Tidsrom"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="utgivere">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Aktor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document_wrapperRoot3">
    <xs:complexContent>
      <xs:extension base="document_wrapperRoot">
        <xs:sequence>
          <xs:element name="root">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" type="xs:string"/>
                      <xs:element name="value" type="document_wrapperValue"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="StringAndBooleanAndIntAndLongAndFloatAndDoubleAndBytes">
    <xs:union memberTypes="xs:string xs:boolean xs:integer xs:long xs:float xs:double xs:hexBinary"/>
  </xs:simpleType>
  <xs:complexType name="document_wrapperValue" abstract="true"/>
  <xs:complexType name="document_wrapperValue1">
    <xs:complexContent>
      <xs:extension base="document_wrapperValue">
        <xs:sequence>
          <xs:element name="value" type="StringAndBooleanAndIntAndLongAndFloatAndDoubleAndBytes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="document_wrapperValue2">
    <xs:complexContent>
      <xs:extension base="document_wrapperValue">
        <xs:sequence>
          <xs:element name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded" type="Basisgruppe"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="document_wrapperValue3">
    <xs:complexContent>
      <xs:extension base="document_wrapperValue">
        <xs:sequence>
          <xs:element name="value" type="AnyValue"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnyValue">
    <xs:annotation>
      <xs:documentation>Extensible record placeholder for the 'any' type. Add fields via schema evolution.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="document_wrapperValue4">
    <xs:complexContent>
      <xs:extension base="document_wrapperValue">
        <xs:sequence>
          <xs:element name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" type="xs:string"/>
                      <xs:any minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
